*{
  padding: 0;
  margin: 0;
}
body{
  font-size: 17px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #F4F4F4;
  color: #926239;
}
.welcome-section{
  box-sizing:border-box;
  height: 100vh;
  background-image: url(./../images/beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  text-align: center;
  padding-top: 40vh;
}
.welcome-section-heading,.welcome-section-link{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.welcome-section-heading{
  font-size: 50px;
  line-height: 1.2;
}
.welcome-section-content{
  font-size: 20px;
}
.welcome-section-link{
  display: inline-block;
  max-width: 89.047px;
  font-size: 18px;
  text-decoration: none;
  color: inherit;
  padding: 10px 20px;
  border: 1px solid #926239 ;
  border-radius: 10px;
  margin-top: 20px;
}
.main-content-section,.some-content-section{
  text-align: center;
  padding: 20px;
}
.main-content-section,.some-article-section{
  background-color: #926239;
  color: #F4F4F4;
  
}

.left-article,.center-article,.right-article{
  display: inline-block;
  box-sizing: border-box;
  height: 15vh;
  width: 33.33%;
  overflow-y: auto;
  vertical-align: top;
  padding: 20px;
  
}
.center-article{
  background-color: #F4F4F4;
  color: #926239;
}
